<% provide(:title, 'Confirmation') %>
<h1>注文商品確認</h1>

<h5>
  <ul>
  <% sum = 0 %>
  <% @products.each do |product| %>
    <% cart_item = @cart_items.find_by(product_id: product.id) %>
      <% if cart_item.asking_quantity != 0%>
        <li>
          <%= link_to product.title, product %>

          価格: <%= product.price %>
          注文個数: <%= cart_item.asking_quantity %>
          小計: <%= product.price * cart_item.asking_quantity %>
          <% sum += product.price * cart_item.asking_quantity%>

        </li>
        <% end %>
  <% end %>
  </ul>
  合計 <%= sum %>円

  <% if sum != 0%>
    <%= form_for @order do |f| %>
      <%= f.label "送付先の住所選択" %>
      <%= f.collection_select :address_text, @addresses, :address_text, :address_text%>
      <%= f.submit "注文を確定する" %>
    <% end %>
  <% end %>

</h5>
