<% provide(:title, 'Confirmation') %>
<h1>注文商品確認</h1>

<h5>
  <ul>
  <% sum = 0 %>
  <% @products.each do |product| %>
    <li>
      <% cart_item = @cart_items.find_by(product_id: product.id) %>
      <%= link_to product.title, product %>

      価格: <%= product.price %>円
      <% if cart_item.asking_quantity <= product.stock_quantity %>
      購入希望数: <%= cart_item.asking_quantity %>個
        小計: <%= product.price * cart_item.asking_quantity %>円
        <% sum += product.price * cart_item.asking_quantity%>
      <% elsif cart_item.asking_quantity > product.stock_quantity && product.stock_quantity != 0%>
      <font color=Red>在庫が購入希望数（<%= cart_item.asking_quantity %>個）以下です。現在<%= product.stock_quantity %>個まで購入できます</font>
      <% else product.stock_quantity == 0%>
      <font color=Red>在庫切れです。</font>
      <% end %>
  <% end %>
  </ul>
  合計 <%= sum %>円

  <% if sum != 0%>
    <%= form_for @order do |f| %>
      <%= f.label "送付先の住所選択" %>
      <%= f.collection_select :address_text, @addresses, :address_text, :address_text%>
      <%= f.submit "注文を確定する" %>
    <% end %>
  <% end %>

</h5>
