<% provide(:title, 'All Cart Items') %>
<h1>カート内商品一覧</h1>

<% if @cart_items.count != 0 %>
  <h5>
    <%= render 'shared/notifications' %>
  </h5>

  <h5>
    <ul>
    <% sum = 0 %>
    <% @products.each do |product| %>
      <li>
        <% cart_item = @cart_items.find_by(product_id: product.id) %>
        <%= link_to product.title, product %>

        価格: <%= product.price %>円
        購入希望数: <%= cart_item.asking_quantity %>個
        購入可能数: <%= cart_item.possible_quantity %>個
        小計: <%= product.price * cart_item.possible_quantity %>円
        <% sum += product.price * cart_item.possible_quantity%>

        <%= link_to "delete", cart_item_path(cart_item.id),
         method: :delete, data: { confirm: "You sure?" } %>

        <% if cart_item.possible_quantity !=0 %>
          <%= form_for(cart_item) do |f| %>
          <div><%= f.hidden_field :product_id %></div>

          <%= f.text_field :possible_quantity, class: 'form-control'%>
          <%= f.submit "購入希望数を変更する", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>

      </li>
      <% end %>
    </ul>
    合計: <%= sum %>円
    <% if sum != 0%>
      <%= link_to "注文確定画面に進む", confirmation_path %>
    <% end %>
  </h5>
<% else @cart_items.count == 0 %>
  You don't have any items. Please check <%= link_to "Our items", root_url %>
<% end %>
