<% provide(:title, 'All Cart Items') %>
<h1>All Cart Items</h1>

<% if @cart_items.count != 0 %>
  <h5>
    <% if @notifications != nil %>
      <% @notifications.each do |notification| %>
        <li>
          <% cart_id = notification.cart_item_id%>
          <% product_id = CartItem.find_by(id: cart_id).product_id %>
          <% product = Product.find_by(id: product_id) %>
          <%= product.title %>は変更があります。
          <%= notification.price %>円
          <%= notification.stock_quantity %>個
        </li>
      <% end %>
    <% end %>
  </h5>

  <h5>
    <ul>
    <% sum = 0 %>
    <% @products.each do |product| %>
      <li>
        <% cart_item = @cart_items.find_by(product_id: product.id) %>
        <%= link_to product.title, product %>

        price: <%= product.price %>
        asking_quantity: <%= cart_item.asking_quantity %>
        possible_quantity: <%= cart_item.possible_quantity %>
        subtotal: <%= product.price * cart_item.possible_quantity %>
        <% sum += product.price * cart_item.possible_quantity%>

        <%= link_to "delete", cart_item_path(cart_item.id),
         method: :delete, data: { confirm: "You sure?" } %>

        <% if cart_item.possible_quantity !=0 %>
          <%= form_for(cart_item) do |f| %>
          <div><%= f.hidden_field :product_id %></div>

          <%= f.text_field :possible_quantity, class: 'form-control'%>
          <%= f.submit "購入希望数を変更する", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>

      </li>
      <% end %>
    </ul>
    total: <%= sum %>
    <% if sum != 0%>
      <%= link_to "注文確定画面に進む", confirmation_path %>
    <% end %>
  </h5>
<% else @cart_items.count == 0 %>
  You don't have any items. Please check <%= link_to "Our items", root_url %>
<% end %>
