<% provide(:title, 'All Cart Items') %>
<h1>カート内商品一覧</h1>

<% if @cart_items.count != 0 %>
  <h5>
    <ul>
    <% sum = 0 %>
    <% error = 0 %>
    <% @cart_items.includes(:product).each do |cart_item| %>
      <li>
        <%= link_to cart_item.product.title, cart_item.product %>
        価格: <%= cart_item.product.price %>円
          <% if cart_item.quantity_in_cart <= cart_item.product.stock_quantity %>
              購入希望数: <%= cart_item.quantity_in_cart %>個
              小計:<%= cart_item.product.price * cart_item.quantity_in_cart %>円
              <% sum += cart_item.product.price * cart_item.quantity_in_cart%>
          <% elsif cart_item.quantity_in_cart > cart_item.product.stock_quantity %>
              <font color=Red>在庫数が購入希望数（<%= cart_item.quantity_in_cart %>個）以下です。
              現在の在庫数は<%= cart_item.product.stock_quantity %>個です。</font>
              <% error += 1 %>
          <% end %>

            <%= link_to "delete", cart_item_path(cart_item.id),
             method: :delete, data: { confirm: "You sure?" } %>

        <% if cart_item.product.stock_quantity !=0 %>
            <%= form_for(cart_item) do |f| %>
            <%= f.hidden_field :lock_version %>

            <%= f.text_field :quantity_in_cart, class: 'form-control'%>
            <%= f.submit "購入希望数を変更する", class: "btn btn-large btn-primary" %>
            <% end %>
       <% end %>
      </li>
    <% end %>
    </ul>
    合計: <%= sum %>円
    <% if error == 0%>
      <%= link_to "注文内容確認画面に進む", confirmation_path %>
    <% elsif error != 0%>
      <font color=Red>商品の在庫数が希望購入数以下であるため、注文できません。
        該当商品を削除するか、希望購入数を在庫数以下に変更してください。</font>
    <% end %>
  </h5>
<% else @cart_items.count == 0 %>
  You don't have any items. Please check <%= link_to "Our items", root_url %>
<% end %>
