<% if current_user.nil? %>
  <%= link_to "サインイン", signin_path %>してショッピングカートに追加
<% else %>
  <%= form_for(current_user.cart_items.build(product_id: @product.id)) do |f| %>
  <div><%= f.hidden_field :product_id %></div>
  <%= f.select :quantity_in_cart,
  options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]) %>

  <%= f.submit "ショッピングカートに追加する", class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>
