<% provide(:title, @product.title) %>
<h2>
  <%= @product.title %>
</h2>

<h3>
  <%= @product.description %>
  <%= @product.price %>円
</h3>

<h4>
  <% if @product.stock_quantity > 10 %>
    <%= render 'products/addcart' %>

  <% elsif @product.stock_quantity <= 10 && @product.stock_quantity > 0 %>
    在庫数 <%= @product.stock_quantity %>
    <%= render 'products/addcart' %>

  <% else @product.stock_quantity == 0 %>
    <FONT color="red">在庫切れ</FONT>
  <% end %>

</h4>
